<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="ID" value="Data Source=LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True;"/>
		<add key="localhost.Service" value="http://localhost:1625/SemanticBaseAutomateServices/Service.asmx"/>
		<add key="Country.CountryInformationService" value="http://www.ezzylearning.com/services/CountryInformationService.asmx"/>
		<add key="localhost1.CurrencyConvertor" value="http://www.webservicex.net/CurrencyConvertor.asmx"/>
		<add key="Fe_ACH.FedACH" value="http://www.webservicex.net/FedACH.asmx"/>
		<add key="born.deadoralive" value="http://www.abundanttech.com/WebServices/DeadOrAlive/DeadOrAlive.asmx"/>
		<add key="postalmethods.PostalWS" value="https://api.postalmethods.com/PostalWS.asmx"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
	</appSettings>
	<connectionStrings>
		<add name="ehealthConnectionString" connectionString="LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ehealthConnectionString2" connectionString="LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ehealthConnectionString3" connectionString="LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ehealthConnectionString4" connectionString="LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ehealthConnectionString5" connectionString="LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="ehealthConnectionString6" connectionString="Data Source=LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="sematicDBConnectionString" connectionString="Data Source=LIKHESH-PC;Initial Catalog=sematicDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
</assemblies>
		</compilation>
		
		<authentication mode="Windows"/>

		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BLZServiceSOAP11Binding" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ndfdXMLBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ndfdXMLBinding1" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
   </basicHttpBinding>
   <customBinding>
    <binding name="BLZServiceSOAP12Binding">
     <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
      messageVersion="Soap12" writeEncoding="utf-8">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
       maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     </textMessageEncoding>
     <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
      maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
      bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
      keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
      realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
      useDefaultWebProxy="true" />
    </binding>
   </customBinding>
  </bindings>
  <client>
   <endpoint address="http://www.thomas-bayer.com/axis2/services/BLZService"
    binding="basicHttpBinding" bindingConfiguration="BLZServiceSOAP11Binding"
    contract="ServiceReference1.BLZServicePortType" name="BLZServiceSOAP11port_http" />
   <endpoint address="http://www.thomas-bayer.com/axis2/services/BLZService"
    binding="customBinding" bindingConfiguration="BLZServiceSOAP12Binding"
    contract="ServiceReference1.BLZServicePortType" name="BLZServiceSOAP12port_http" />
   <endpoint address="https://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php"
    binding="basicHttpBinding" bindingConfiguration="ndfdXMLBinding"
    contract="ServiceReference2.ndfdXMLPortType" name="ndfdXMLPort" />
  </client>
 </system.serviceModel>
</configuration>
